@tailwind base;
@tailwind components;
@tailwind utilities;



body {
  margin: 0;
  display: flex;
  min-width: 320px;
  min-height: 100vh;
  background-color: #000000d9;
  position: relative; 
}

body::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  background-image: url('/bg-gradient.svg');
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: fixed;
  background-size: cover;
}
.dark\:bg-default:is(.dark *){
  background: linear-gradient(to right, #a855f7 , #3b82f6 );
}
.border-default-200{
  border-color: hsl(0deg 0% 8.02%);
}
.border-medium {
  border-width: 1px;
}



